/* Public stylesheet */

/* Colors
red:          #993120
green:        #94B26F
light green:  #B6D491
yellow:       #F2DC87
dark brown:   #332318
light brown:  #4C2516
*/

html { height: 100%; width: 100%; }
body { width: 100%; min-width: 980px; height: 100%; margin: 0; padding: 0; 
  font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif; color: #332318; }
p, td, ul, ol, li, dl, dt, dd { 
  font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; }
img { border: none; }
table { border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: left; 
  padding: 3px; }
a, a:visited { color: #993120; }
a:hover {}

.clear { clear: both; }
.center { text-align: center; }

/* Structure */
#header { height: 4em; padding-top: 1em; text-align: center; 
  background: #993120; color: #FFFFFF; }
#header h1 { margin: 0; padding: 0; }
#main { min-height: 500px; background: #F2DC87; }
#navigation { float: left; width: 180px; min-height: 480px; padding: 10px; 
  background: #94B26F; color: #4C2516; }
#content { padding: 10px; }
#footer { clear: both; height: 2.5em; text-align: right;
  background: #4C2516; color: #F2DC87; }
#footer p { margin: 0; padding: 0.5em 1em; }

/* Navigation */
#navigation ul { list-style: none; margin: 0; padding: 0; }
#navigation ul li { margin-bottom: 0.5em; }
#navigation ul ul { margin: 0.5em 0 0 1em; font-size: 0.9em; }
#navigation a { text-decoration: none; padding: 1px 3px;}
#navigation a:hover { background: #F2DC87; }

/* Content */
#content h2 { color: #4C2516; }

/* Errors */
.field_with_errors {
	color: red
}


/* Navigation Menu */
div#nav {
	width:100%;
	margin-top:20px;
}
div#nav h1 {
	display:inline;
	margin:0;
	padding:0;
	font-size:2em;
}
div#nav h1 span {
	margin:0;
	padding:0;
}
div#nav h1 span.title_part_2 {
	color:orange;
}
div#nav h1 span.title_part_1 {
	color:blue;
}
div#nav h2 {
	font-size:.8em;
	padding:0;
	margin:0 0 0 0;
}
div#nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
}
div#nav ul li {
	display:inline;
	margin: 0 5px 0 5px;
}
div#nav ul li.active a:link, div#nav ul li.active a:visited {
	text-decoration:none;
	padding:10px;
	font-weight:bold;
	background-color:orange;
	color:white;
}
div#nav ul li a:link, div#nav ul li a:visited {
	text-decoration:none;
	padding:10px;
	font-weight:bold;
	background-color:blue;
	color:white;
}
div#nav ul li a:hover, div#nav ul li a:active {
	text-decoration:none;
	padding:10px;
	font-weight:bold;
	background-color:orange;
	color:white;
}


/* Extra stuff that should be deleted before production */
body {
	font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif;
}
div#wrap {
	width:800px;
	margin:0 auto;
}
div#background {
	width:800px;
	height:600px;
	margin:auto;
	position:absolute;
	top:100px;
	background: url(../images/ow_bg.png) no-repeat 50% 0%;
	z-index:-1;
}
