<% @page_title = "Create Activity" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="activity new">
  <h2>Create Activity</h2>

  <%= form_for(:activity, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("Create Activity") %>
    </div>
    
  <% end %>
</div>
